export(xl.get.excel)

S3method(dimnames,excel.range)
S3method(dim,excel.range)
export(has.colnames)
export(has.rownames)
S3method(has.colnames,default)
S3method(has.rownames,default)
export("has.colnames<-")
export("has.rownames<-")
S3method(has.colnames,excel.range)
S3method(has.rownames,excel.range)

export(xl)
export(xlr)
export(xlc)
export(xlrc)
S3method('[',xl)
S3method('[[',xl)
S3method('$',xl)
S3method('[[<-',xl)
S3method('$<-',xl)
S3method('[<-',xl)
export(xl.selection)
export(xl.current.region)

export(current.graphics)

export(xl.write)
S3method(xl.write,current.graphics)
S3method(xl.write,list)
S3method(xl.write,matrix)
S3method(xl.write,data.frame)
S3method(xl.write,default)
S3method(xl.write,factor)
S3method(xl.write,table)

export(xl.workbooks)
export(xl.workbook.add)
export(xl.workbook.open)
export(xl.workbook.close)
export(xl.workbook.save)
export(xl.workbook.activate)

export(xl.sheets)
export(xl.sheet.add)
export(xl.sheet.delete)
export(xl.sheet.activate)

export(xl.connect.table)
S3method('[',excel.range)
S3method('$',excel.range)
S3method('[<-',excel.range)
S3method('$<-',excel.range)
S3method(sort,excel.range)

export(xl.save.file)
export(xl.read.file)



# Import all packages listed as Imports or Depends
import(
  RDCOMClient
)
